* {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    height: 55px;
    background: #3559E0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.sectionDiary {
    display: flex;
    width: 75%;
    margin: 20px auto;
    padding: 30px;
    border-bottom: 2px solid #EEF5FF;
}

.sectionDiary--image {
    width: 275px;
    height: 450px;
    border-radius: 5px;
}

.sectionDiary--location {
    display: inline-block;
    color: #2B283A;
    font-family: Inter;
    font-size: 15px;
    letter-spacing: 1.741px;
    text-transform: uppercase;
}

.sectionDiary--link {
    text-transform: none;
    color: #918E9B;
    font-size: 15px;
}

.sectionDiary--title {
    color: #2B283A;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
}

.sectionDiary--dates {
    color: #2B283A;
    font-family: Inter;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sectionDiary--detail {
    font-size: 15px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 40px;
}